name: print date
on: [push]
jobs:
    job1:
       runs-on: ununtu-latest
       steps:
       - name: checkout
         uses: actions/checkout@v2
       - name: print date on ubuntu
         run: date
    job2:
        runs-on: windows-latest
        steps:
        - run: date
    job3:
       needs: [job1, job2]
       runs-on: macos-latest
       steps:
       - name: checkout
         uses: actions/checkout@v2
       - name: print date on macos
         run: date
