name: print date
on: [push]
jobs:
    job1:
        print-date-on-ubuntu:
            runs-on: ununtu-latest
            steps:
            - name: checkout
              uses: actions/checkout@v2
            - name: print date on ubuntu
              run: date
    job2:
        print-date-on-windows:
            runs-on: windows-latest
            steps:
            - name: checkout
              uses: actions/checkout@v2
            - name: print date on windows
              run: echo %Date:~0,3%day
   job3:
       needs: [job1, job2]
       print-date:
           runs-on: macos-latest
           steps:
           - name: checkout
             uses: actions/checkout@v2
           - name: print date on macos
             run: date
              
